*{
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
}
img {
    width: 200px;
}
#main{
    position: relative;
}
.box{
    float: left;
    padding: 10px 0 0 10px;
}
.box .pic{
    padding: 10px;
    border: 1px solid #cccccc;
    background-color: #fff;
    border-radius: 5px;
}